<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zyd.blog.persistence.mapper.BizArticleLookV2Mapper">
    <resultMap id="rm" type="com.zyd.blog.persistence.beans.BizArticleLookV2">
        <result property="id" jdbcType="BIGINT" column="id"/>
        <result property="articleId" jdbcType="BIGINT" column="article_id"/>
        <result property="lookCount" jdbcType="INTEGER" column="look_count"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
        <result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
    </resultMap>

    <update id="increment" parameterType="Long">
        UPDATE `biz_article_look_v2`
        SET look_count = look_count + 1
        WHERE article_id = #{articleId}
    </update>
</mapper>

