<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zyd.blog.persistence.mapper.BizArticleTagsMapper">
	<resultMap id="rm" type="com.zyd.blog.persistence.beans.BizArticleTags">
		<result property="id" jdbcType="BIGINT" column="id"/>
		<result property="tagId" jdbcType="BIGINT" column="tag_id"/>
		<result property="articleId" jdbcType="BIGINT" column="article_id"/>
		<result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
		<result property="updateTime" jdbcType="TIMESTAMP" column="update_time"/>
	</resultMap>

	<select id="findPageBreakByCondition" parameterType="com.zyd.blog.business.vo.ArticleTagsConditionVO" resultMap="rm">
		SELECT
			t.*
		FROM
			biz_article_tags t
		WHERE
			1 = 1
	</select>
</mapper>

