<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--定义日志文件的存储路径-->
    <!--<property name="LOG_HOME" value="/var/tmp/website-blog-web"/>-->
    <springProperty scope="context" name="logdir" source="logging.path"/>

    <!-- 控制台 appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %yellow(%date{yyyy-MM-dd HH:mm:ss}) [%highlight(%-5level)] [%magenta(%thread)] %green(%c.%M\(%F:%L\)) %n%msg%n
            </pattern>
        </encoder>
    </appender>

    <!--按天生成日志-->
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${logdir}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework.core.env" level="INFO"/>
    <logger name="us.codecraft.webmagic.downloader" level="INFO"/>
    <logger name="com.zyd.blog.framework.runner" level="DEBUG"/>
    <logger name="org.crazycake.shiro.RedisCache" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>

</configuration>
